################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/vim-cheatsheet/v15/.suo
/.vs/tasks.vs.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
